<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="container jumbotron">
      <div class="row">
        <div class="col-sm-3 page-head-right">
          <!-- <a href="{{ site.baseurl }}"> <img class="center-block" src="/assets/images/logo_v1.png" alt="Logo" height="100"> </a> -->
        </div>
        <div class="col-sm-6 page-head">
          <a href="{{ site.baseurl }}"> <img src="/assets/images/chainlogo+title.png" alt="FREE Lab" style="max-height: 75px; width: auto"> </a>
          <!-- <a href="{{ site.baseurl }}"> <img class="center-block" src="/assets/images/logo+title_v1_white-bg.png" alt="FREE Lab" height="100"> </a> -->
          <!-- <a href="{{ site.baseurl }}"> <img class="center-block" src="/assets/images/title_v1.png" alt="FREE Lab" height="100"> </a> -->
        </div>
      </div>
    </header>

    <nav class="navbar navbar-default container">
        <ul class="nav nav-justified">
          <li><a class="{% if page.title == "Home" %}active{% endif %}" href="{{ site.baseurl }}">HOME</a></li>
          <li><a class="{% if "/people/" == page.url %}active{% endif %}" href="/people/">PEOPLE</a></li>
          <li><a class="{% if "/research/" == page.url %}active{% endif %}" href="/research/">RESEARCH</a></li>
          <li><a class="{% if "/publications/" == page.url %}active{% endif %}" href="/publications/">PUBLICATIONS</a></li>
          <li><a class="{% if "/videos/" == page.url %}active{% endif %}" href="/videos/">VIDEOS</a></li>
          <li><a class="{% if "/software/" == page.url %}active{% endif %}" href="/software/">SOFTWARE</a></li>
          <li><a class="{% if "/news/" == page.url %}active{% endif %}" href="/news/">NEWS</a></li>
          <li><a class="{% if "/contact/" == page.url %}active{% endif %}" href="/contact/">CONTACT</a></li>
        </ul>
    </nav>

    <main>
      {{ content }}
    </main>

    <hr>

    <!-- footer -->
    <footer class="container jumbotron">
      <div class="row">
        <div class="col-sm-4">
          <a href="https://www.engin.umich.edu/"><img src="/assets/images/umich_me_logo.png" width=400px></a>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-3"></div>
          <div class="col-sm-2 page-foot">
            <a href="https://github.com/free-laboratory"> <img class="logos" src="/assets/images/github_logo.png" alt="GitHub"> </a>
          </div>
          <div class="col-sm-2 page-foot">
            <a href="https://www.youtube.com/@FREE_Laboratory"> <img class="logos" src="/assets/images/youtube_logo.png" alt="YouTube"> </a>
          </div>
          <div class="col-sm-2 page-foot">
            <a href="https://www.instagram.com/free_laboratory/"> <img class="logos" src="/assets/images/instagram_logo.png" alt="Instagram"> </a>
          </div>
          <div class="col-sm-2 page-foot">
            <a href="https://twitter.com/FREE_Laboratory"> <img class="logos" src="/assets/images/twitter_logo.png" alt="Twitter"> </a>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class"col-sm-4 rightered">
          <p class="center-block right-text address">
            G.G. Brown Building <br/>
            Ann Arbor, MI 48109
          </p>
        </div>
      </div>
    </footer>

    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}

  </body>
</html>
